.container {
  background-color: var(--bgSoft);
  padding: 20px;
}

.top {
  display: flex;
  justify-content: space-between;
  gap: 10px;
}
.btn {
  padding: 10px 25px;
  font-size: 16px;
}

.table {
  width: 100%;
  padding: 15px;
}
.users {
  display: flex;
  align-items: center;
  gap: 10px;
  object-fit: cover;
}

.Img {
  border-radius: 50%;
}

.buttons {
  display: flex;
  gap: 10px;
}

.button {
  padding: 5px 10px;
  border-radius: 5px;
  border: none;
  cursor: pointer;
}

.view {
  background-color: teal;
  color: white;
}

.delet {
  background-color: red;
  color: white;
}
